@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0px;
  padding: 0px;
  background-color: #f6f6f6;
  color: #8c8c8c;
  transition: all 0.2s;
}

body.dark {
  transition: all 0.2s;
  background-color: #0b0b0b;
  color: white;
}
@media only screen and (max-width: 900px) {
  .NavLinkContainer {
    display: none;
  }
}
